@import "tailwindcss";
@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  caret-color: transparent;
}

.chewy-regular {
  font-family: "Chewy", serif;
  font-weight: 400;
  font-style: normal;
}
